@font-face {
  font-family: 'Cinzel';
  font-weight: 400;
  src: url('../../public/assets/cinzel_regular.ttf');
}

@font-face {
  font-family: 'Cinzel';
  font-weight: 700;
  src: url('../../public/assets/cinzel_bold.ttf');
}