$body-font-family: Cinzel, sans-serif;

$accent-color: #F33F3F;
$accent-color-2: #A41B1B;
$primary-color: #E1E1E1;
$primary-color-dark: #9A9A9A;
$primary-color-dark-2: #414141;
$accent-gradient: linear-gradient(270deg, #FF6B59 0.81%, rgba(255, 107, 89, 0) 100%), #BE123C;

$menu-background: #000000;
$page-background: #191919;
$grey-background: #2C2C2C;
$grey-background-2: #1F1F1F;
