@import '/styles/global/variables.scss';

.baseLayout {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  position: relative;

  .menuButton {
    position: absolute;
    top: 25px;
    left: 70px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;

    .line {
      height: 3px;
      width: 100%;
      background: $primary-color-dark;
      position: relative;

      .accent {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: $accent-color-2;
        transition-property: width;
        transition-timing-function: ease-in-out;
        transition-duration: .4s;

        &.slow {
          transition-duration: .2s;
        }

        &.fast {
          transition-duration: .6s;
        }
      }
    }

    &.active {
      .accent {
        width: 100%;
      }
    }
  }
}

.menuWrapper {
  height: 100%;
  background: $menu-background;
  flex: .2 1 20%;

  @media screen and (max-width: 1550px) {
    position: absolute;
    transform: translateX(-100%);
    width: 100%;
    max-width: 600px;
    z-index: 99;
    box-shadow: 12px 5px 12px 4px rgba($color: #000, $alpha: 0.25);

    transition: transform .4s ease-in-out;

    &.opened {
      transform: translateX(0);
    }
  }
}

.pageWrapper {
  padding: 50px 60px;
  height: 100%;
  background: $page-background;
  flex: .8 1 80%;

  @media screen and (max-width: 1550px) {
    flex: 1 1 100%;
    padding: 100px 60px;
  }

  .loading {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1550px) {
      height: calc(100vh - 200px);
    }
  }
}