@import '/styles/global/variables.scss';

.spinnerBox {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  .configure {
    &Border {
      &One {
        width: 55px;
        height: 55px;
        padding: 1px;
        position: absolute;
        display: flex;
        background: rgb(63, 249, 220);
        justify-content: center;
        align-items: center;
        animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
      }

      &Two {
        width: 55px;
        height: 55px;
        padding: 2px;
        left: -55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $accent-color-2;
        transform: rotate(45deg);
        animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
      }
    }

    &Core {
      width: 100%;
      height: 100%;
      background-color: $menu-background;
    }

  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-135deg);
  }

  75% {
    transform: rotate(-225deg);
  }

  100% {
    transform: rotate(-315deg);
  }
}